/* CSS Stylesheet for the COMP2110 Bob's Jobs Board */
/* Author: Jerick Eli Dadios 46591680 */

@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

/* css to be applied to entire html page */
html {
    background-color: aquamarine;
    text-align:center;
    font-family: 'Koulen', cursive;
}

/* css to be applied to title 'Bob's Jobs' */
h1 {
    border: 2px solid white;
    margin-left: 40%;
    margin-right: 40%;
    color:darkslategray;

}

/* ul and li involves css for the nav bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white; 
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
}

.jobListings {  
    padding-top: 10px;
}

/* css for creating borders for each individual job listing */
.job {
    border: 2px solid white;
    padding: 10px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10px;
    color:darkslategray;
    background-color: lightblue;
}

.jobTitle {
    font-size: 30px;
}